
:root{
    --white: white;
    --black: #141624;
    --blue: #4B6BFB;
    --blue-500: rgba(75, 107, 251, .1);
    --gray-50: #F4F4F5;
    --gray-100: #E8E8EA;
    --gray-200: #DCDDDF;
    --gray-250: #CCCCCC;
    --gray-300: #A1A1AA;
    --gray-400: #97989F;
    --gray-500: #696A75;
    --gray-600: #3B3C4A;
    --gray-800: #181A2A;
}

html[theme='dark'] {
        --white: #181A2A;
        --gray-800: white;
        --gray-600: white;
        --gray-50: #242535;
        --gray-100: #242535;
        --gray-200: #3B3C4A;
        --gray-250: #242535;
}