@import '@styles/mixins.scss';
@import '@styles/vars.scss';

.container {
  @include container;
  max-width: 800px;
  margin-block: 2rem 4rem;
}

.shortInfo {
  color: var(--gray-400);
  display: flex;
  align-items: center;
  gap: 12px;
}

.headerText {
  margin-block: 1rem 1.6rem;
}

.authorName {
  font-weight: 500;
}

.image {
  margin-block: 2rem;
  border-radius: 12px;
}

.title {
  margin-block: 2rem 0.9rem;
}

.text {
  line-height: 1.8;
}

.quote {
  background-color: var(--gray-100);
  padding: 2rem;
  border-radius: 12px;
  margin-block: 1.6rem;
  font-style: italic;
  line-height: 1.6;
  font-size: 1.1rem;
  border-left: 4px solid var(--gray-200);
}

.progressBar {
  position: sticky;
  left: 0;
  transform-origin: left;
  top: $DesktopHeader;
  height: 5px;
  background-color: var(--blue);
}

@media (max-width: $laptop) {
  .progressBar {
    top: $LaptopHeader;
  }
}

@media (max-width: $mobileL) {
  .progressBar {
    top: $MobileHeader;
  }
}
